%h1 All the tasks

- if current_user.todos.count == 0
  You do not have any todos, add one now!
  %br
- else
  %table.table-condensed.table-hover
    %thead
      %tr.link_text
        %th
        %th
        %th
          = sortable "To-do"
          %span.caret
        %th
          = sortable "Category"
          %span.caret
    %tbody
      - @todos.each do |todo|
        - if todo.completed
          %tr.completed
            %td
              %i= link_to '', todo, method: :completed, class: "fa fa-times"
            %td
              %i= link_to '', todo, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-trash"
            - if todo.user == current_user
              %td{style:"max-width: 750px"}= markdown(todo.content).html_safe
              %td= markdown(todo.section).html_safe

        - else
          %tr
            - if todo.user == current_user
              %td
                %i= link_to '', todo, method: :completed, class: "fa fa-check"
              %td
                %i= link_to '', todo, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-trash"
              %td{style:'max-width:750px'}= link_to markdown(todo.content).html_safe, edit_todo_path(todo)
              %td= markdown(todo.section).html_safe

%br
.center
  = will_paginate @todos, renderer: BootstrapPagination::Rails
/ footer
= link_to 'New task', new_todo_path, class: "btn btn-primary"
// If the current user has more than 0 todos,
// check to see if any of the todos are completed.
// If not, don't display the 'clear complete' button.
- if current_user.todos.count > 0
  - completed_todos_count = Array.new
  - current_user.todos.each { |todo| todo.completed ? completed_todos_count << todo : nil }
  - if completed_todos_count.length > 0
    = link_to 'Clear complete', @todo, method: :delete, data: { confirm: 'This will clear all completed tasks, are you sure?'}, class: "btn btn-default"